* {
    box-sizing: border-box;
}

body {
    margin-left: 100px;
    font-family: 'Inter', sans-serif;
    background: #ffedd6;
    color: #333;
    line-height: 1.6;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}